source http://www.nuget.org/api/v2/

nuget Newtonsoft.Json
nuget T4.TemplateFileManager
nuget JetBrains.Annotations
nuget Microsoft.CodeAnalysis.CSharp.Scripting

nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget Microsoft.CodeAnalysis.VisualBasic.Workspaces

nuget Gu.Wpf.NumericInput
nuget Gu.Wpf.Reactive
nuget Gu.State

group Test
  source http://www.nuget.org/api/v2/
  framework: net452
  nuget NUnit = 2.6.4
  nuget Moq = 4.5.9
  nuget TestStack.White = 0.13.3
  nuget Castle.Core = 3.3.3

group Benchmarks
  source http://www.nuget.org/api/v2/
  framework: net452
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Microsoft.CodeAnalysis.CSharp 1.3.1
